
:root {
  --clr-grey: #7b7373;
  --clr-grey-light: #cecdcd;
  --clr-text: #efefef;
  --clr-text-secondary: #002041;
  --clr-border: #cecece;
  --clr-bg: transparent;
  --clr-primary: #85add8;
  --clr-white: #fff;

  --toolbar-height: 64px;

  --bg-img-light: url("assets/clear-sky.jpg");
  --bg-img-dark: url("assets/clear-sky-night.jpg");

  --homepage-bg-img: url("assets/clear-sky.jpg");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
