
:root {
  --clr-grey: #7b7373;
  --clr-grey-light: #cecdcd;
  --clr-hover: #ececec;
  --clr-text: #efefef;
  --clr-text-secondary: #002041;
  --clr-border: #cecece;
  --clr-bg: transparent;
  --clr-primary: #85add8;
  --clr-white: #fff;

  --toolbar-height: 64px;

  --bg-img-light: url("assets/clear-sky.jpg");
  --bg-img-dark: url("assets/clear-sky-night.jpg");

  --homepage-bg-img: url("assets/clear-sky.jpg");

  --mdc-theme-text-primary-on-background: var(--clr-text);

  .mat-mdc-menu-item .mat-icon-no-color, .mat-mdc-menu-submenu-icon {
    --mdc-theme-text-primary-on-background: var(--clr-primary);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
