/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
  --clr-grey: #7b7373;
  --clr-grey-light: #cecdcd;
  --clr-text: #3f3939;
  --clr-border: #cecece;


  color: var(--clr-text);
}
